* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background-position: center;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 56px;
}

.menu-item {
    font-size: 16px;
    font-weight: 300;
}

.menu-item a {
    text-decoration: none;
    color: #fff;

}

.navigation .btn {
    padding: 10px 30px;
    background: linear-gradient(94deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    border: 0;
    color: #fff;
    line-height: 150%;

}

.hero-content {
    color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 198px;
    padding-left: 312px;
    flex-direction: column;
}

.hero-content .title {
    font-size: 64px;
    font-weight: 700;
}

.hero-content .cards {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.hero-content .cards li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background: #121212;
}